---
    interface Props{
        text: string,
        id: string,
    }

    const { text, id } = Astro.props;
---

<button id={id} class="ml-3 bg-gradient-to-r to-[#0074D3] from-[#0040A8] w-full h-fit text-left py-2 pl-3 text-lg rounded transition-[transform] duration-150 ease-in hover:opacity-80">
    {text}
</button>

