---
interface Props{
    titulo: string,
    not_found: string,
    more: string,
    num_movements: number,
}

const {titulo, not_found, more, num_movements} = Astro.props;
---

<span class="relative flex justify-start flex-col gap-3 gap-x-5 w-full p-7 rounded-xl cursor-pointer bg-slate-800 shadow-lg shadow-gray-900 transition-all duration-150 ease-in hover:scale-105" id="card_movements">
    <div class="flex w-full justify-between items-center">
        <h1 class="text-white font-bold">
            {titulo}
        </h1>

        <span class="transition-all duration-150 ease-in hover:scale-125">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-dots">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
            </svg>
        </span>
    </div>

    <div class="flex flex-col gap-y-1 justify-center items-start w-full">
        {
            num_movements > 0 ?(
                <div id="slot_card" class="flex flex-col w-full gap-4 pr-3 pb-10">
                    <slot/>

                    <span class="text-white text-sm font-bold text-right hover:text-blue-500 absolute bottom-5 right-7">
                        {more}...
                    </span>
                </div>
            ):(
                <span class="text-gray-300">
                    {not_found}
                </span>
            )
        }
    </div>
</span>

<style>
    .custom-scroll::-webkit-scrollbar {
      width: 5px;
    }

    .custom-scroll::-webkit-scrollbar-track {
      background: rgb(255, 255, 255, 0);
      border-radius: 30px;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
      background: #777;
      border-radius: 30px;
    }

    .custom-scroll::-webkit-scrollbar-thumb:hover {
      background: rgb(255, 255, 255, 0);
      border-radius: 30px;
    }

    @media (max-width: 1160px) {
        #card_movements{
            grid-column: span 2 / 2 span;
        }
    }  

    @media (max-width: 1024px) {
        #card_movements{
            grid-column: span 4 / 4 span;
            grid-row: span 1 / 1 span;
        }
    }
</style>