---
import ButtonConfigurations from "./Button_Configurations.astro";
import BtnSubConfigurations from "./Btn-Sub-Configurations.astro";
---

<section
  class="bg-black/50 fixed top-0 right-0 h-full w-full z-50 justify-end hidden"
  id="content-configurations"
>
  <div
    class="bg-slate-800 shadow-lg shadow-gray-900 w-full flex flex-col gap-4 animate-displace"
  >
    <header
      class="flex justify-between items-center p-4 rounded-t-sm border-b-2 border-blue-500"
    >
      <h1 class="text-2xl text-white max-[490px]:text-lg">Configuraciones</h1>
    </header>
  </div>
</section>

<script>
  let btn_settings_notifications = document.querySelector("#btn-settings-notifications");
  let btn_settings_personal = document.querySelector("#btn-settings-personal");
  let btn_settings_security = document.querySelector("#btn-settings-security");
  let btn_settings_2fa = document.querySelector("#btn-settings-2fa");
  let btn_setings_delete = document.querySelector("#btn-settings-delete");

  btn_settings_notifications?.addEventListener("click", () => {
    let content_list_notifications = document.querySelector("#content-list-notifications") as HTMLDivElement;
    content_list_notifications.style.display = window.getComputedStyle(content_list_notifications).display == "none" ? "flex" : "none";
  })

  btn_settings_personal?.addEventListener("click", () => {
    let content_list_personal = document.querySelector("#content-list-personal") as HTMLDivElement;
    content_list_personal.style.display = window.getComputedStyle(content_list_personal).display == "none" ? "flex" : "none";
  })

  btn_settings_security?.addEventListener("click", () => {
    let content_list_security = document.querySelector("#content-list-security") as HTMLDivElement;
    content_list_security.style.display = window.getComputedStyle(content_list_security).display == "none" ? "flex" : "none";
  })

  btn_settings_2fa?.addEventListener("click", () => {
    let content_list_2fa = document.querySelector("#content-list-2fa") as HTMLDivElement;
    content_list_2fa.style.display = window.getComputedStyle(content_list_2fa).display == "none" ? "flex" : "none";
  })

  btn_setings_delete?.addEventListener("click", () => {
    console.log("Click")
  })

  let btnNotification = document.querySelector(
    "#button_configurations",
  ) as HTMLSpanElement;
  
  let barNotifications = document.getElementById("content-configurations") as HTMLElement;

  let closeConfigurations = document.getElementById(
    "closeConfigurations",
  ) as HTMLDivElement;

  btnNotification?.addEventListener("click", () => {
    (document.querySelector("#list_config") as HTMLDivElement).style.display = "none";
    barNotifications.style.display =
      window.getComputedStyle(barNotifications).display === "none"
        ? "flex"
        : "none";
  });

  closeConfigurations?.addEventListener("click", () => {
    barNotifications.style.display =
      window.getComputedStyle(barNotifications).display === "flex"
        ? "none"
        : "flex";
  });

</script>
