---

---

<section
  class="bg-black/50 fixed top-0 right-0 h-full w-full z-50 justify-end hidden"
  id="mainContent"
>
  <div id="closeNotifications" class="w-full h-full cursor-pointer"></div>
  <div
    id="notificationsContent"
    class="bg-slate-800 shadow-lg shadow-gray-900 w-[45rem] max-md:w-[55rem] p-5 flex flex-col gap-4 animate-displace"
  >
    <header
      class="flex justify-between items-center p-4 border-b-2 border-blue-500 rounded-t-sm"
    >
      <h1 class="text-2xl text-white max-[490px]:text-lg">Notificaciones</h1>
      <div id="moreOptions" class="cursor-pointer">
        <svg
          id="menuIcon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-dots"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path
            d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path
            d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg
        >
      </div>
    </header>

    <div id="subMenu" class="hidden bg-slate-700 p-1 rounded-[4px] animate-deployment">
      <button
        id="btnNew"
        class="w-full p-3 text-center text-sm text-white cursor-pointer hover:bg-gray-800"
        >Crear</button
      >
      <button
        id="btnDeleteSingle"
        class="w-full p-3 text-center text-sm text-white cursor-pointer hover:bg-gray-800"
        >Borrar</button
      >
      <button
        id="btnDeleteAll"
        class="w-full p-3 text-center text-sm text-white cursor-pointer hover:bg-gray-800"
        >Borrar todo</button
      >
    </div>

    <main
      class="overflow-y-auto h-full flex flex-col gap-4"
      id="allNotifications"
    >
    </main>
  </div>
</section>

<script>
  let menuIcon = document.getElementById("menuIcon") as HTMLElement;
  let subMenu = document.getElementById("subMenu") as HTMLDivElement;

  menuIcon.addEventListener("click", () => {
    if (window.getComputedStyle(subMenu).display === "none"){
      subMenu.style.display = "flex";
    } else {
      subMenu.style.display = "none";
    }
  });

  let btnNotification = document.querySelector(
    "#button-notifications",
  ) as HTMLSpanElement;

  let btnAllNotification = document.querySelector("#btn-all-notifications") as HTMLButtonElement;

  let barNotifications = document.getElementById("mainContent") as HTMLElement;
  let almacenNotifications = document.getElementById(
    "allNotifications",
  ) as HTMLElement;

  let closeNotifications = document.getElementById(
    "closeNotifications",
  ) as HTMLDivElement;
  
  btnAllNotification?.addEventListener("click", () => {
    (document.querySelector("#list_config") as HTMLElement).style.display = "none";
    barNotifications.style.display =
      window.getComputedStyle(barNotifications).display === "none"
        ? "flex"
        : "none";
  });

  btnNotification?.addEventListener("click", () => {
    barNotifications.style.display =
      window.getComputedStyle(barNotifications).display === "none"
        ? "flex"
        : "none";
  });

  closeNotifications.addEventListener("click", () => {
    barNotifications.style.display =
      window.getComputedStyle(barNotifications).display === "flex"
        ? "none"
        : "flex";
  });

  let contenedor = document.getElementById("allNotifications") as HTMLElement;
  let crear = document.getElementById("btnNew") as HTMLButtonElement;
  let borrar = document.getElementById("btnDeleteSingle") as HTMLButtonElement;
  let borrarTodo = document.getElementById("btnDeleteAll") as HTMLButtonElement;

  crear.addEventListener("click", () => {
    let article = document.createElement("article");
    let h2 = document.createElement("h2");
    let p = document.createElement("p");

    h2.textContent = "Envío";
    p.textContent = "Ladeu te ha estafado";

    article.className =
      "bg-blue-600 shadow-lg flex flex-col gap-1 rounded-lg p-4  transition duration-300 ease-in-out hover:scale-103";
    h2.className = "text-2xl text-white";
    p.className =
      "text-white text-base text-15 ml-2.5 px-2.5 border-l-2 border-blue-300";

    article.appendChild(h2);
    article.appendChild(p);
    contenedor.appendChild(article);

    localStorage.setItem("notifications", contenedor.innerHTML);
  });


  borrar.addEventListener("click", () => {
    if (contenedor.children.length > 0) {
      contenedor.children[0].remove();
      localStorage.setItem("notifications", contenedor.innerHTML);
    }
  });

  borrarTodo.addEventListener("click", () => {
    contenedor.innerHTML = "";
    localStorage.setItem("notifications", contenedor.innerHTML);
  });

  var notisSaved = localStorage.getItem("notifications");
  if (notisSaved === null) {
    localStorage.setItem("notifications", contenedor.innerHTML);
  } else {
    contenedor.innerHTML = notisSaved;
  }
</script>

