---
import PopupBase from "./PopupBase.astro"
---

<PopupBase class="relative w-[55rem] py-5 rounded-md z-10 bg-slate-700" id="popup-center-loan" class_content="flex">
    <div class=" w-full h-full grid grid-cols-2 gap-4 p-4">
        <div class="flex flex-col gap-2">
            <label for="content-prestamo" class="text-white text-lg font-bold">Informacion del Prestamo</label>
            <div id="content-prestamo" class="bg-slate-800 rounded-md p-3 mt-1">
                <label for="input-action" class="block mb-1 text-sm font-medium text-white relative">{"Monto de la transferencia"}</label>
                <div class="relative mb-3">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-mail-dollar w-5 h-5 text-gray-500 dark:text-gray-400">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M13.5 19h-8.5a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v3.5" />
                            <path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                            <path d="M19 21v1m0 -8v1" />
                            <path d="M3 7l9 6l9 -6" />
                        </svg>
                    </div>
                    <input type="number" id="input-action" class="outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4  bg-slate-900 border-slate-900 placeholder-gray-400" placeholder={"Monto de transferencia"} required>
                </div>

                <label for="input-action" class="block mb-1 text-sm font-medium text-white relative">{"Tasa de Interes"}</label>
                <div class="relative mb-3">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-businessplan w-5 h-5 text-gray-500 dark:text-gray-400">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M16 6m-5 0a5 3 0 1 0 10 0a5 3 0 1 0 -10 0" />
                            <path d="M11 6v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                            <path d="M11 10v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                            <path d="M11 14v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                            <path d="M7 9h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                            <path d="M5 15v1m0 -8v1" />
                        </svg>
                    </div>
                    <input type="number" id="input-action" class="outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4  bg-slate-900 border-slate-900 placeholder-gray-400" placeholder={"Monto de transferencia"} required>
                </div>        

                <label for="input-action" class="block mb-1 text-sm font-medium text-white relative">{"Cuotas"}</label>
                <div class="relative mb-0">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-dollar w-5 h-5 text-gray-500 dark:text-gray-400">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M13 21h-7a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
                            <path d="M16 3v4" />
                            <path d="M8 3v4" />
                            <path d="M4 11h12.5" />
                            <path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                            <path d="M19 21v1m0 -8v1" />
                        </svg>
                    </div>
                    <select id="input-action" class="outline-none border text-gray-400 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4 bg-slate-900 border-slate-900 placeholder-gray-400" required>
                        <option value="" disabled selected hidden>Seleccione las cuotas</option>
                        <option value="100">$100</option>
                        <option value="200">$200</option>
                        <option value="300">$300</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="flex flex-col gap-2">
            <label for="content-prestamo" class="text-white text-lg font-bold">Informacion Personal</label>
            <div id="content-prestamo" class="bg-slate-800 rounded-md p-3 mt-1">
                <label for="input-action" class="block mb-1 text-sm font-medium text-white relative">{"Nombre Completo"}</label>
                <div class="relative mb-3">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-mail-dollar w-5 h-5 text-gray-500 dark:text-gray-400">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M13.5 19h-8.5a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v3.5" />
                            <path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                            <path d="M19 21v1m0 -8v1" />
                            <path d="M3 7l9 6l9 -6" />
                        </svg>
                    </div>
                    <input type="number" id="input-action" class="outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4  bg-slate-900 border-slate-900 placeholder-gray-400" placeholder={"Monto de transferencia"} required>
                </div>

                <label for="input-action" class="block mb-1 text-sm font-medium text-white relative">{"Direccion"}</label>
                <div class="relative mb-3">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-businessplan w-5 h-5 text-gray-500 dark:text-gray-400">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M16 6m-5 0a5 3 0 1 0 10 0a5 3 0 1 0 -10 0" />
                            <path d="M11 6v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                            <path d="M11 10v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                            <path d="M11 14v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                            <path d="M7 9h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                            <path d="M5 15v1m0 -8v1" />
                        </svg>
                    </div>
                    <input type="number" id="input-action" class="outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4  bg-slate-900 border-slate-900 placeholder-gray-400" placeholder={"Monto de transferencia"} required>
                </div>        

                <label for="input-action" class="block mb-1 text-sm font-medium text-white relative">{"Cuotas"}</label>
                <div class="relative mb-0">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-dollar w-5 h-5 text-gray-500 dark:text-gray-400">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M13 21h-7a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
                            <path d="M16 3v4" />
                            <path d="M8 3v4" />
                            <path d="M4 11h12.5" />
                            <path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                            <path d="M19 21v1m0 -8v1" />
                        </svg>
                    </div>
                    <select id="input-action" class="outline-none border text-gray-400 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4 bg-slate-900 border-slate-900 placeholder-gray-400" required>
                        <option value="" disabled selected hidden>Seleccione las cuotas</option>
                        <option value="100">$100</option>
                        <option value="200">$200</option>
                        <option value="300">$300</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="flex flex-col gap-2 col-span-2">
            <label for="content-prestamo" class="text-white text-lg font-bold">Informacion del Prestamo</label>
            <div id="content-prestamo" class="bg-slate-800 rounded-md p-3 mt-1">
                <label for="input-action" class="block mb-1 text-sm font-medium text-white relative">{"Monto de la transferencia"}</label>
                <div class="relative mb-3">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-mail-dollar w-5 h-5 text-gray-500 dark:text-gray-400">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M13.5 19h-8.5a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v3.5" />
                            <path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                            <path d="M19 21v1m0 -8v1" />
                            <path d="M3 7l9 6l9 -6" />
                        </svg>
                    </div>
                    <input type="number" id="input-action" class="outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4  bg-slate-900 border-slate-900 placeholder-gray-400" placeholder={"Monto de transferencia"} required>
                </div>

                <label for="input-action" class="block mb-1 text-sm font-medium text-white relative">{"Tasa de Interes"}</label>
                <div class="relative mb-3">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-businessplan w-5 h-5 text-gray-500 dark:text-gray-400">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M16 6m-5 0a5 3 0 1 0 10 0a5 3 0 1 0 -10 0" />
                            <path d="M11 6v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                            <path d="M11 10v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                            <path d="M11 14v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                            <path d="M7 9h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                            <path d="M5 15v1m0 -8v1" />
                        </svg>
                    </div>
                    <input type="number" id="input-action" class="outline-none border text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4  bg-slate-900 border-slate-900 placeholder-gray-400" placeholder={"Monto de transferencia"} required>
                </div>        

                <label for="input-action" class="block mb-1 text-sm font-medium text-white relative">{"Cuotas"}</label>
                <div class="relative mb-0">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-dollar w-5 h-5 text-gray-500 dark:text-gray-400">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M13 21h-7a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
                            <path d="M16 3v4" />
                            <path d="M8 3v4" />
                            <path d="M4 11h12.5" />
                            <path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                            <path d="M19 21v1m0 -8v1" />
                        </svg>
                    </div>
                    <select id="input-action" class="outline-none border text-gray-400 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4 bg-slate-900 border-slate-900 placeholder-gray-400" required>
                        <option value="" disabled selected hidden>Seleccione las cuotas</option>
                        <option value="100">$100</option>
                        <option value="200">$200</option>
                        <option value="300">$300</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</PopupBase>