---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Prueba">
    <h1 class="text-2xl text-white font-bold mt-10">
        Cronometro
    </h1>

    <span class="time flex mt-8">
        <h3 class="hour">00</h3>:<h3 class="minute">00</h3>:<h3 class="seconds">00</h3>:<h3 class="mili-seconds">00</h3>
    </span>
</Layout>

<script>
    let hour = document.querySelector(".hour") as HTMLElement;
    let minute = document.querySelector(".minute") as HTMLElement;
    let seconds = document.querySelector(".seconds") as HTMLElement;
    let miliseconds = document.querySelector(".mili-seconds") as HTMLElement;

    let miliCount = 0;
    let secondCount = 0;
    let minuteCount = 0;
    let hourCount = 0;

    setInterval(() => {
        miliCount++;
        miliseconds.innerText = miliCount < 10 ? `0${miliCount}` : miliCount.toString();

        if (miliCount === 100) {
            miliCount = 0;
            secondCount++;
            seconds.innerText = secondCount < 10 ? `0${secondCount}` : secondCount.toString();

            if (secondCount === 60) {
                secondCount = 0;
                minuteCount++;
                minute.innerText = minuteCount < 10 ? `0${minuteCount}` : minuteCount.toString();

                if (minuteCount === 60) {
                    minuteCount = 0;
                    hourCount++;
                    hour.innerText = hourCount < 10 ? `0${hourCount}` : hourCount.toString();
                }
            }
        }
    }, 10);
</script>
