---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Section from "../components/Section.astro"
import FormSignUp from "../components/FormSignUp.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Sebxstt - Sign Up">
	<Header href_image="/" href_signin="./SignIn" href_signup="./SignUp"></Header>
	<Section>
		<FormSignUp></FormSignUp>
		<Footer></Footer>
	</Section>
</Layout>