<section class="relative top-20 w-screen min-h-full flex flex-col justify-center items-center" {...Astro.props}> 
    <article class="w-full flex flex-col justify-center items-center h-fit py-5 bg-gradient-to-r to-[#0074D3] from-[#0040A8]">
      <div class="w-full h-full gap-x-5 flex justify-center items-center max-w-7xl max-xl:px-5">
        <div class="w-full flex flex-col gap-y-5 justify-center items-start">
            <div class="content-terms p-8 max-[460px]:p-3">
                <h2 class="text-3xl font-bold mb-6 text-center max-[430px]:text-2xl">Términos y Condiciones</h2>
                <div class="text-lg leading-relaxed">
                  <h3 class="text-xl font-semibold mb-2">1. Acerca de nuestros Servicios</h3>
                  <p class="mb-4">Nuestra plataforma de simulación de vida crediticia te permite explorar diversas situaciones financieras hipotéticas y comprender mejor cómo tus decisiones y comportamientos pueden impactar tu historial crediticio. Te ofrecemos una herramienta integral para ayudarte a desarrollar habilidades sólidas de manejo de crédito.</p>
        
                  <h3 class="text-xl font-semibold mt-4 mb-2">2. Registro e Información del Usuario</h3>
                  <p class="mb-4">Para utilizar nuestros servicios, deberás crear una cuenta segura y proporcionar información personal y financiera precisa, actualizada y completa. Es tu responsabilidad mantener esta información actualizada y veraz en todo momento. Al registrarte, aceptas el uso de tus datos de acuerdo con estos Términos y Condiciones, así como nuestra Política de Privacidad detallada.</p>
        
                  <h3 class="text-xl font-semibold mt-4 mb-2">3. Uso de la Información del Usuario</h3>
                  <p class="mb-4">Utilizaremos la información que proporciones de manera confidencial y segura para personalizar la experiencia de simulación, ofrecerte recomendaciones y análisis relevantes adaptados a tu perfil, así como para operar, mantener y mejorar continuamente nuestros servicios. No compartiremos tus datos personales con terceros sin tu consentimiento explícito, excepto cuando sea requerido por ley o para prestar servicios específicos relacionados con nuestra plataforma.</p>
        
                  <h3 class="text-xl font-semibold mt-4 mb-2">4. Restricciones y Prohibiciones</h3>
                  <p class="mb-4">No debes utilizar nuestra plataforma para fines ilegales, fraudulentos o dañinos, ni interferir con su funcionamiento o seguridad. Tampoco debes infringir derechos de propiedad intelectual o privacidad de terceros, ni enviar material ofensivo, amenazante, obsceno o que incite al odio o la discriminación.</p>
        
                  <h3 class="text-xl font-semibold mt-4 mb-2">5. Cuenta y Seguridad</h3>
                  <p class="mb-4">Eres el único responsable de mantener la confidencialidad de tu cuenta y contraseña, y de notificarnos de inmediato sobre cualquier uso no autorizado o vulneración de seguridad. No debes acceder o intentar acceder a cuentas de otros usuarios, ya que esto constituiría una violación grave de nuestros términos.</p>
        
                  <h3 class="text-xl font-semibold mt-4 mb-2">6. Exactitud de la Información y Decisiones Financieras</h3>
                  <p class="mb-4">Si bien nos esforzamos por mantener la máxima precisión y actualidad de la información proporcionada en nuestra plataforma, no garantizamos la exactitud absoluta de los resultados de las simulaciones o el contenido. Las simulaciones y recomendaciones ofrecidas son meramente informativas y orientativas, y no deben reemplazar el asesoramiento profesional de un asesor financiero o legal calificado.</p>
        
                  <h3 class="text-xl font-semibold mt-4 mb-2">7. Propiedad Intelectual</h3>
                  <p class="mb-4">Todo el contenido, marcas y derechos de propiedad intelectual relacionados con nuestra plataforma son propiedad exclusiva nuestra. No puedes utilizar, copiar, modificar, distribuir o crear productos derivados de dicho contenido sin autorización previa por escrito.</p>
        
                  <h3 class="text-xl font-semibold mt-4 mb-2">8. Modificaciones y Terminación</h3>
                  <p class="mb-4">Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento, notificándote sobre cambios importantes a través de la plataforma o mediante otros medios apropiados. Podemos suspender o terminar tu acceso a los servicios en cualquier momento, por cualquier motivo y sin previo aviso.</p>
        
                  <h3 class="text-xl font-semibold mt-4 mb-2">9. Ley Aplicable y Resolución de Disputas</h3>
                  <p class="mb-4">Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes de Colombia. Cualquier disputa relacionada se resolverá mediante arbitraje vinculante en Bogotá, Colombia.</p>
        
                  <h3 class="text-xl font-semibold mt-4 mb-2">10. Autores y Responsables</h3>
                  <p class="mb-4">Esta plataforma de simulación de vida crediticia ha sido desarrollada por <a href="/" class="text-yellow-400 font-bold hover:underline">EasyCredit</a>, gracias al talento y dedicación de:</p>
                  <ul class="list-disc list-inside">
                    <li><span class="font-semibold">Sebastian Garces</span>: Desarrollador Full Stack - Administrador del Proyecto</li>
                    <li><span class="font-semibold">Luis Brieva</span>: Desarrollador Front-end</li>
                    <li><span class="font-semibold">Luis Ladeuth</span>: Diseñador UX/UI</li>
                    <li><span class="font-semibold">Isail Florez</span>: Analista de Datos</li>
                    <li><span class="font-semibold">Jorge Tovar</span>: Soporte y Gestión de Requerimientos</li>
                  </ul>
                  <p class="my-4">Si tienes alguna duda o inquietud, no dudes en contactarnos a través de <a href="mailto:easycredit4321@gmail.com" class="text-yellow-400 font-bold hover:underline">easycredit4321@gmail.com</a>.</p>
                
                  <h2 class="text-3xl font-bold mt-10 mb-6 text-center max-[430px]:text-2xl">Políticas de Privacidad</h2>
                  <h3 class="text-xl font-semibold mt-4 mb-2">1. Recopilación de Información</h3>
                  <p class="mb-4">Recopilamos información personal, como nombre, dirección de correo electrónico, información financiera y datos de uso, con el fin de brindar nuestros servicios y mejorar tu experiencia en nuestra plataforma.</p>

                  <h3 class="text-xl font-semibold mt-4 mb-2">2. Uso de la Información</h3>
                  <p class="mb-4">Utilizamos la información recopilada para personalizar tu experiencia, ofrecerte recomendaciones y análisis relevantes, procesar transacciones, enviar comunicaciones relacionadas con el servicio, y mejorar continuamente nuestros servicios.</p>

                  <h3 class="text-xl font-semibold mt-4 mb-2">3. Compartir Información</h3>
                  <p class="mb-4">No compartimos tu información personal con terceros, excepto cuando sea necesario para prestar nuestros servicios, cumplir con obligaciones legales o proteger nuestros derechos legítimos.</p>

                  <h3 class="text-xl font-semibold mt-4 mb-2">4. Seguridad de la Información</h3>
                  <p class="mb-4">Implementamos medidas de seguridad apropiadas para proteger tu información personal contra accesos no autorizados, pérdida, uso indebido o divulgación.</p>

                  <h3 class="text-xl font-semibold mt-4 mb-2">5. Derechos del Usuario</h3>
                  <p class="mb-4">Puedes acceder, actualizar, corregir o eliminar tu información personal en cualquier momento a través de tu cuenta de usuario. También puedes solicitar la portabilidad de tus datos o restringir su procesamiento en determinadas circunstancias.</p>

                  <h3 class="text-xl font-semibold mt-4 mb-2">6. Cambios en la Política de Privacidad</h3>
                  <p class="mb-4">Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Cualquier cambio será publicado en nuestra plataforma y se te notificará de manera adecuada.</p>

                </div>
              </div>
        </div>
      </div>
    </article>
  </section>