---
---

<section class="relative top-20 w-screen min-h-full flex flex-col justify-center items-center">
    <article class="w-full flex flex-col justify-center items-center h-[42rem] bg-gradient-to-r to-[#0074D3] from-[#0040A8]">
        <div class="w-full h-full gap-x-5 flex justify-between items-center max-[880px]:flex-col max-w-7xl max-xl:px-5 max-[880px]:justify-center max-[880px]:gap-y-10">
            <div class="max-w-[35rem] max-lg:max-w-[30rem] max-[880px]:w-full max-[880px]:max-w-[40rem] flex flex-col gap-y-5 justify-center items-start">
                <h1 class="text-white text-5xl max-xl:text-4xl max-[420px]:text-3xl font-bold">
                    Simulador de crédito <span class="bg-gradient-to-br from-yellow-300 to-yellow-600 bg-clip-text text-transparent">EasyCredit</span>
                </h1>

                <p class="text-gray-100 text-lg">
                    Explora las posibilidades con nuestro simulador de crédito. Calcula las cuotas y diseña tu plan de pago en línea de manera conveniente y sin complicaciones.
                </p>

                <button type="button" class="focus:outline-none text-black font-bold bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-white rounded-lg text-md px-5 py-2.5 me-2 mb-2">
                    Calcular
                </button>

            </div>
            <div class="container-image"></div>
        </div>
    </article>

    <div class="relative top-0 flex justify-center items-center w-full h-full px-5 bg-gradient-to-r to-[#0074D3] from-[#0040A8] pb-5">
        <div class="w-full max-w-7xl flex justify-center items-center z-10">
            <ul class="w-full h-full list-options flex max-sm:flex-col max-sm:gap-y-5 p-2 rounded-lg bg-white">
                <li class="flex flex-col text-center justify-center items-center w-full h-full py-3 px-4 gap-2 text-black hover:text-[rgb(250,204,21)] cursor-pointer z-10">
                    <a href="#online" class="flex flex-col text-center justify-center items-center w-full h-full">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-mobile-check h-10 w-10"viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M11.5 21h-3.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v9.5" />
                                <path d="M11 4h2" />
                                <path d="M12 17v.01" />
                                <path d="M15 19l2 2l4 -4" />
                            </svg>
                        </span>

                        <span>
                            Proceso 100% en linea
                        </span>    
                    </a>
                </li>

                <li class="flex flex-col text-center justify-center items-center w-full py-3 px-4 gap-2 text-black hover:text-[rgb(250,204,21)] cursor-pointer z-10">
                    <a href="#cuota" class="flex flex-col text-center justify-center items-center w-full">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calculator h-10 w-10" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 3m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                <path d="M8 7m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z" />
                                <path d="M8 14l0 .01" />
                                <path d="M12 14l0 .01" />
                                <path d="M16 14l0 .01" />
                                <path d="M8 17l0 .01" />
                                <path d="M12 17l0 .01" />
                                <path d="M16 17l0 .01" />
                            </svg>
                        </span>

                        <span>
                            Calcula tu cuota
                        </span>    
                    </a>
                </li>

                <li class="flex flex-col text-center justify-center items-center w-full h-full py-3 px-4 gap-2 text-black hover:text-[rgb(250,204,21)] cursor-pointer z-10">
                    <a href="#pay" class="flex flex-col text-center justify-center items-center w-full h-full">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-check h-10 w-10" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M11.5 21h-5.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v6" />
                                <path d="M16 3v4" />
                                <path d="M8 3v4" />
                                <path d="M4 11h16" />
                                <path d="M15 19l2 2l4 -4" />
                            </svg>
                        </span>

                        <span>
                            Plazo de pago flexible
                        </span>    
                    </a>
                </li>

                <li class="flex flex-col text-center justify-center items-center w-full h-full py-3 px-4 gap-2 text-black hover:text-[rgb(250,204,21)] cursor-pointer z-10">
                    <a href="#tasa" class="flex flex-col text-center justify-center items-center w-full h-full">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-coins w-10 h-10" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 14c0 1.657 2.686 3 6 3s6 -1.343 6 -3s-2.686 -3 -6 -3s-6 1.343 -6 3z" />
                                <path d="M9 14v4c0 1.656 2.686 3 6 3s6 -1.344 6 -3v-4" />
                                <path d="M3 6c0 1.072 1.144 2.062 3 2.598s4.144 .536 6 0c1.856 -.536 3 -1.526 3 -2.598c0 -1.072 -1.144 -2.062 -3 -2.598s-4.144 -.536 -6 0c-1.856 .536 -3 1.526 -3 2.598z" />
                                <path d="M3 6v10c0 .888 .772 1.45 2 2" />
                                <path d="M3 11c0 .888 .772 1.45 2 2" />
                            </svg>
                        </span>

                        <span>
                            Tasa y cuota fijas
                        </span>    
                    </a>
                </li>

            </ul>
        </div>
    </div>
</section>

<style>
    .container-image{
        width: 30rem;
        height: 100%    ;
        background-image: url("../../public/background/giro.png");
        background-position:center;
        background-repeat: no-repeat;
        background-size:contain;
    }

    @media (width > 640px) {
        .list-options li:not(.list-options li:last-child){
            border-right: 2px solid #ccc;
        }
    }

    @media (width < 640px) {
        .list-options li:not(.list-options li:last-child){
            border-bottom: 2px solid #ccc;
        }
    }

    @media (max-width: 1280px) {
        .container-image{
            width: 25rem;
        }
    }

    @media (max-width: 1080px) {
        .container-image{
            width: 20rem;
        }
    }

    @media (max-width: 880px) {
        .container-image{
            width: 15rem;
            height: 15rem;
        }
    }

</style>

<script>
</script>