---

---

<section class="relative top-20 w-screen min-h-screen flex flex-col justify-center items-center px-5 py-10" {...Astro.props}>
    <div class="w-full h-full max-w-7xl">
        <slot/>
    </div>
</section>