---

---


<nav class="bg-red-500 w-full flex justify-center items-center py-3">
    <div id="content-nav" class="w-full max-w-7xl">
        <ul class="w-full flex px-5 py-1 gap-x-3">
            <li class="flex flex-row-reverse justify-center items-center gap-x-1 text-xl px-2 py-1 cursor-pointer hover:text-[rgb(29,78,216)]">
                <span class="w-full h-full flex justify-center items-center">
                    Ropa
                </span>
            </li>

            <li class="flex flex-row-reverse justify-center items-center gap-x-1 text-xl px-2 py-1 cursor-pointer hover:text-[rgb(29,78,216)]">
                <span class="w-full h-full flex justify-center items-center">
                    Accesorios
                </span>
            </li>

            <li class="flex flex-row-reverse justify-center items-center gap-x-1 text-xl px-2 py-1 cursor-pointer hover:text-[rgb(29,78,216)]">
                <span class="w-full h-full flex justify-center items-center">
                    Tecnologia
                </span>
            </li>

            <li class="flex flex-row-reverse justify-center items-center gap-x-1 text-xl px-2 py-1 cursor-pointer hover:text-[rgb(29,78,216)]">
                <span class="w-full h-full flex justify-center items-center">
                    Electrodomesticos
                </span>
            </li>
        </ul>
    </div>
</nav>

<style>
    nav{
        z-index: 50;
        --tw-bg-opacity: .75;
        background-color: rgba(13, 17, 23, var(--tw-bg-opacity));
        border-bottom-width: 1px;
        --tw-border-opacity: 1;
        border-color: rgba(32, 38, 47, var(--tw-border-opacity));
        backdrop-filter:blur(3px);
        backface-visibility: hidden;
        perspective: 1000px;
        transform: translateZ(0px);
    }
</style>