---

---

<div class="w-full h-fit border-b-2 border-gray-300 pb-5">
    <h1 class="text-white text-2xl font-semibold">
      <!--Titulo -->
      Profile
    </h1>
    <h4 class="text-gray-300 text-lg font-light">
      <!--Descripcion de la configuracion -->
      Manage your profile settings
    </h4>
  </div>

  <div>
    <h2 class="text-white text-lg">
      <!--Subtitulo -->
      Basic Info
    </h2>
    <h4 class="text-gray-300 text-base font-light">
      <!--Descripcion de la subconfiguracion -->
      Tell us your basic info details
    </h4>
</div>