---
interface Props{
  data_id: string;
}

const {data_id} = Astro.props;
---

<div class="flex-col overflow-y-auto hidden" id="sub_sections_configurations"  data-id={data_id}>
    <div class="w-full h-fit border-b-2 border-gray-300 pb-5">
        <h1 class="text-white text-2xl font-semibold">
            <!--Titulo -->
            Security
        </h1>
        <h4 class="text-gray-300 text-lg font-light">
            <!--Descripcion de la configuracion -->
            The security settings offer options such as password change, two-step
            authentication, activity log, among others. This is to protect user data
            and ensure a secure environment in the application.
        </h4>
    </div>

    <div class="w-full h-fit border-b-2 border-gray-300 py-7 px-3">
        <h2 class="text-white text-lg">
            <!--Subtitulo -->
            Two-step Authentication
        </h2>
        <h4 class="text-gray-300 text-base font-light">
            <!--Descripcion de la subconfiguracion -->
            Use two-step authentication to improve your account security
        </h4>

        <div class="grid grid-cols-2 max-sm:grid-cols-1 gap-5 mt-4 w-fit">
            <label class="inline-flex items-center cursor-pointer">
                <input
                    type="checkbox"
                    id="activateTwoStep"
                    class="sr-only peer"
                />
                <div
                    class="relative w-11 h-6 peer-focus:outline-none peer-focus:ring-4 rounded-full peer bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all border-gray-600 peer-checked:bg-blue-600"
                >
                </div>
                <span class="ms-3 text-base font-semibold text-gray-200"
                    >Activate Two-Step Authentication</span
                >
            </label>
            <button
                type="button"
                disabled
                id="configureTwoStep"
                class="bg-cyan-600 p-2 rounded opacity-50"
                >Configure Two-Step Authentication</button
            >
        </div>

        <div
            id="twoStepConfiguration"
            class="fixed inset-0 z-50 hidden items-center justify-center bg-black/50"
        >
            <div
                class="bg-zinc-800 p-8 rounded-lg shadow-lg flex flex-col items-center gap-4 animate-deployment"
            >
                <!-- Contenido del modal -->
                <h2 class="text-3xl font-semibold mb-4">
                    Two-Step Configuration
                </h2>
                <div class="flex flex-col gap-5">
                    <div
                        class="flex flex-col gap-4 p-5 rounded-lg bg-stone-600"
                    >
                        <label class="inline-flex items-center cursor-pointer">
                            <input
                                type="checkbox"
                                value=""
                                id="activateCodeAuthentication"
                                class="sr-only peer"
                            />
                            <div
                                class="relative w-11 h-6 peer-focus:outline-none peer-focus:ring-4 rounded-full peer bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all border-gray-600 peer-checked:bg-blue-600"
                            >
                            </div>
                            <span
                                class="ms-3 text-base font-semibold text-gray-200"
                                >Code Authentication</span
                            >
                        </label>

                        <!-- input para el codigo -->
                        <label
                            id="codeAutentication"
                            class="p-2 hidden flex-col items-center animate-deployment"
                        >
                            <input
                                type="email"
                                class="p-2 border-2 rounded-lg"
                                placeholder="Email"
                            />
                        </label>
                    </div>

                    <div
                        class="flex flex-col gap-4 p-5 rounded-lg bg-stone-600"
                    >
                        <label class="inline-flex items-center cursor-pointer">
                            <input
                                type="checkbox"
                                value=""
                                id="activateKeywordAuthentication"
                                class="sr-only peer"
                            />
                            <div
                                class="relative w-11 h-6 peer-focus:outline-none peer-focus:ring-4 rounded-full peer bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all border-gray-600 peer-checked:bg-blue-600"
                            >
                            </div>
                            <span
                                class="ms-3 text-base font-semibold text-gray-200"
                                >keyword authentication</span
                            >
                        </label>

                        <!-- input para la palabra -->
                        <label
                            id="keywordAutentication"
                            class="p-2 flex-col items-center hidden animate-deployment"
                        >
                            <input
                                type="text"
                                class="p-2 border-2 rounded-lg"
                                placeholder="Keyword"
                            />
                        </label>
                    </div>
                </div>
                <button
                    id="confirmConfiguration"
                    class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md"
                    >Confirmar</button
                >
            </div>
        </div>
    </div>

    <div class="w-full h-fit py-7 px-3 flex flex-col gap-3">
        <h2 class="text-white text-lg">
            <!--Subtitulo -->
            Activity Register
        </h2>
        <h4 class="text-gray-300 text-base font-light">
            <!--Descripcion de la subconfiguracion -->
            Check which devices your account is on and configure which ones they
            have access to.
        </h4>
        <section id="activityRegister" class="flex gap-5">
            <!-- dispositivos -->
            <article
                class="flex flex-col gap-3 p-3 px-4 bg-slate-800/50 rounded"
            >
                <h3 class="text-xl text-center">Your Devices</h3>
                <div
                    class="flex items-center gap-2 p-2 bg-slate-900 rounded-lg"
                >
                    <i
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="50"
                            height="50"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path
                                d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"
                            ></path><path d="M11 4h2"></path><path
                                d="M12 17v.01"></path></svg
                        ></i
                    >
                    <p class="border-l-2 pl-2">A14</p>
                </div>
                <div
                    class="flex items-center gap-2 p-2 bg-slate-900 rounded-lg text-center"
                >
                    <i
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="50"
                            height="50"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-device-desktop"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path
                                d="M3 5a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10z"
                            ></path><path d="M7 20h10"></path><path d="M9 16v4"
                            ></path><path d="M15 16v4"></path></svg
                        ></i
                    >
                    <p class="border-l-2 pl-2">ASDASCW5635</p>
                </div>
                <div
                    class="flex items-center gap-2 p-2 bg-slate-900 rounded-lg text-center"
                >
                    <i
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="50"
                            height="50"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-device-tablet"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path
                                d="M5 4a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v16a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1 -1v-16z"
                            ></path><path
                                d="M11 17a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"
                            ></path></svg
                        ></i
                    >
                    <p class="border-l-2 pl-2">Tablet de Ladeu</p>
                </div>
                <div
                    class="flex items-center gap-2 p-2 bg-slate-900 rounded-lg text-center"
                >
                    <i
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="50"
                            height="50"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-device-laptop"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path d="M3 19l18 0"></path><path
                                d="M5 6m0 1a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1 -1z"
                            ></path></svg
                        ></i
                    >
                    <p class="border-l-2 pl-2">Laptop LUISK</p>
                </div>
            </article>

            <!-- historial -->
            <article class="flex flex-col gap-3 p-3 bg-slate-800/50 rounded">
                <h3 class="text-xl text-center">Historial</h3>
                <div
                    class="flex items-center gap-3 p-3 bg-slate-900 rounded-lg"
                >
                    <i
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path
                                d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"
                            ></path><path d="M11 4h2"></path><path
                                d="M12 17v.01"></path></svg
                        ></i
                    >
                    <nav>
                        <h4 class="font-semibold flex items-center gap-2">
                            Nuevo Inicio de sesion <p>Samsumg A14</p>
                        </h4>
                        <h5 class="opacity-50">
                            Colombia, 25/04/2024, 6:08 p.m
                        </h5>
                    </nav>
                </div>
                <div
                    class="flex items-center gap-3 p-3 bg-slate-900 rounded-lg"
                >
                    <i
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-device-desktop"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path
                                d="M3 5a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10z"
                            ></path><path d="M7 20h10"></path><path d="M9 16v4"
                            ></path><path d="M15 16v4"></path></svg
                        ></i
                    >
                    <nav>
                        <h4 class="font-semibold flex items-center gap-2">
                            Nuevo Inicio de sesion en <p>UFHTW5500</p>
                        </h4>
                        <h5 class="opacity-50">
                            Colombia, 25/04/2024, 6:08 p.m
                        </h5>
                    </nav>
                </div>
                <div
                    class="flex items-center gap-3 p-3 bg-slate-900 rounded-lg"
                >
                    <i
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-key"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path
                                d="M16.555 3.843l3.602 3.602a2.877 2.877 0 0 1 0 4.069l-2.643 2.643a2.877 2.877 0 0 1 -4.069 0l-.301 -.301l-6.558 6.558a2 2 0 0 1 -1.239 .578l-.175 .008h-1.172a1 1 0 0 1 -.993 -.883l-.007 -.117v-1.172a2 2 0 0 1 .467 -1.284l.119 -.13l.414 -.414h2v-2h2v-2l2.144 -2.144l-.301 -.301a2.877 2.877 0 0 1 0 -4.069l2.643 -2.643a2.877 2.877 0 0 1 4.069 0z"
                            ></path><path d="M15 9h.01"></path></svg
                        ></i
                    >
                    <nav>
                        <h4 class="font-semibold flex items-center gap-2">
                            Cambió la Contraseña de la cuenta
                        </h4>
                        <h5 class="opacity-50">
                            Colombia, 25/04/2024, 6:08 p.m
                        </h5>
                    </nav>
                </div>
            </article>
        </section>
    </div>
</div>
<style>
    @media (max-width: 800px) {
        #activityRegister {
            flex-direction: column;
        }
    }
</style>
<script>
    function openAuthentication(input: any, contenetor: any) {
        input.addEventListener("change", () => {
            if (window.getComputedStyle(contenetor).display == "none") {
                contenetor.style.display = "flex";
            } else {
                contenetor.style.display = "none";
            }
        });
    }

    let modal = document.getElementById(
        "twoStepConfiguration",
    ) as HTMLDivElement;
    let abrirModal = document.getElementById(
        "configureTwoStep",
    ) as HTMLButtonElement;
    let cerrarModal = document.getElementById(
        "confirmConfiguration",
    ) as HTMLButtonElement;

    //activate two step
    let activateTwoStep = document.getElementById(
        "activateTwoStep",
    ) as HTMLInputElement;
    activateTwoStep.addEventListener("change", () => {
        if (activateTwoStep.checked) {
            abrirModal.style.opacity = "1";
            abrirModal.disabled = false;
        } else {
            abrirModal.style.opacity = "0.5";
            abrirModal.disabled = true;
        }
    });

    abrirModal.addEventListener("click", () => {
        if (window.getComputedStyle(modal).display == "none") {
            modal.style.display = "flex";
        }
    });

    cerrarModal.addEventListener("click", () => {
        if (window.getComputedStyle(modal).display == "flex") {
            modal.style.display = "none";
        }
    });

    //eleccion de la autenticacion
    let activateCodeAuthentication = document.getElementById(
        "activateCodeAuthentication",
    ) as HTMLInputElement;
    let inputCodeAuthentication = document.getElementById(
        "codeAutentication",
    ) as HTMLLabelElement;

    let activateKeywordAuthentication = document.getElementById(
        "activateKeywordAuthentication",
    ) as HTMLInputElement;
    let inputKeywordAuthentication = document.getElementById(
        "keywordAutentication",
    ) as HTMLLabelElement;

    openAuthentication(activateCodeAuthentication, inputCodeAuthentication);
    openAuthentication(
        activateKeywordAuthentication,
        inputKeywordAuthentication,
    );
</script>
