---
import '@fontsource/poppins';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="#" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="fixed top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<main class="flex flex-col items-center">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {

	}

	*{
		padding: 0;
		margin: 0;
		list-style: none;
		text-decoration: none;
	}

	html {
		font-family: 'Poppins', system-ui, sans-serif;
		color-scheme: dark light;
		scroll-behavior: smooth;
	}

	body{
		min-width: 100vw;
		min-height: 100vh;
		overflow-x:hidden;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-clear-button {
		-webkit-appearance: none;
		margin: 0;
	}

</style>
